body {
  background-color: lightblue;
}

h1 {
  font-size: 30px;
  font-family: "Verdana", Verdana, sans-serif;
}

h2 {
  font-size: 25px;
  font-family: "Verdana", Verdana, sans-serif;
  font-weight: normal;
}

p {
  font-size: 20px;
  font-family: "Verdana", Verdana, sans-serif;
}

#buttonwrap {
  text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 70%;
  height: 100px;
}

.button.stop {
  background-color: red;
}

#hintbutton {
    background-color: white;
    font-size: 15px;
}